resources/node-red-flow.json
[{"id":"f1ef50c0.521ae","type":"tab","label":"Gasmeter","disabled":false,"info":""},{"id":"4d44c2d9.bc0314","type":"mqtt in","z":"f1ef50c0.521ae","name":"","topic":"gasmeter/state","qos":"2","datatype":"auto","broker":"6a5d94ab.0cb614","x":310,"y":340,"wires":[["73b98ce3.adef94","da8638e5.08028"]]},{"id":"73b98ce3.adef94","type":"json","z":"f1ef50c0.521ae","name":"","property":"payload","action":"","pretty":false,"x":610,"y":340,"wires":[["dc90145a.8c678","65212485.3fce84"]]},{"id":"dc90145a.8c678","type":"influxdb out","z":"f1ef50c0.521ae","influxdb":"2073ea7.a5bac16","name":"","measurement":"state","precision":"","retentionPolicy":"","x":970,"y":340,"wires":[]},{"id":"da8638e5.08028","type":"debug","z":"f1ef50c0.521ae","name":"msg string","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":240,"wires":[]},{"id":"65212485.3fce84","type":"debug","z":"f1ef50c0.521ae","name":"msg object","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":240,"wires":[]},{"id":"6a5d94ab.0cb614","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2073ea7.a5bac16","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"gasmeter","name":"","usetls":false,"tls":""}]