resources/nodejs/node-red-flow.json
[{"id":"6273791333c6b793","type":"tab","label":"Gasmeter","disabled":false,"info":""},{"id":"b5d0306cb8218415","type":"mqtt in","z":"6273791333c6b793","name":"","topic":"gasmeter/live","qos":"0","datatype":"auto","broker":"6afada7d.a0881c","nl":false,"rap":false,"x":150,"y":220,"wires":[["0694f12b11ed8948","ff125551e8c555f8"]]},{"id":"0694f12b11ed8948","type":"debug","z":"6273791333c6b793","name":"Gasmeter","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":140,"wires":[]},{"id":"ff125551e8c555f8","type":"json","z":"6273791333c6b793","name":"","property":"payload","action":"","pretty":false,"x":390,"y":220,"wires":[["602dd20dc9f5bccc","8fd92bc22874ad3e"]]},{"id":"602dd20dc9f5bccc","type":"debug","z":"6273791333c6b793","name":"Json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":140,"wires":[]},{"id":"56ca5953bebedc17","type":"debug","z":"6273791333c6b793","name":"Postgres","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":140,"wires":[]},{"id":"8fd92bc22874ad3e","type":"function","z":"6273791333c6b793","name":"","func":"msg.payload[0].time = new Date(msg.payload[0].time).toISOString();\nconst values = Object.values(msg.payload[0]);\n\nmsg.query = {\n    text: \"INSERT INTO live (sensor_id, time, volume, flow_rate, temperature, humidity, plan_id) VALUES (1, $1, $2, $3, $4, $5, (SELECT id FROM plan WHERE rate = $6 AND price = $7 AND factor = $8));\",\n    values: values\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":220,"wires":[["56ca5953bebedc17","aba669eb6fe50364"]]},{"id":"aba669eb6fe50364","type":"digitaloak-postgresql-query","z":"6273791333c6b793","name":"","server":"87530e4c5b462285","inputs":1,"outputs":0,"x":950,"y":220,"wires":[]},{"id":"a8ee493c36d2fba3","type":"mqtt in","z":"6273791333c6b793","name":"","topic":"gasmeter/status","qos":"1","datatype":"auto","broker":"6afada7d.a0881c","nl":false,"rap":false,"x":160,"y":400,"wires":[["88d52b6edb6eb83f"]]},{"id":"96d979c770f47d43","type":"debug","z":"6273791333c6b793","name":"Email","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":320,"wires":[]},{"id":"c69fe6948283144d","type":"e-mail","z":"6273791333c6b793","server":"mail.ahpohl.com","port":"587","secure":false,"tls":true,"name":"","dname":"","x":650,"y":400,"wires":[]},{"id":"88d52b6edb6eb83f","type":"function","z":"6273791333c6b793","name":"","func":"var payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif (typeof alarm_flag == \"undefined\")\n{\n  alarm_flag = false;\n}\nmsg.to = \"admin@ahpohl.com\";\nmsg.from = \"noreply@ahpohl.com\";\nmsg.priority = \"high\";\nvar date = new Date();\n\nif (payload == \"online\" && alarm_flag)\n{\n    alarm_flag = false;\n    msg.alarm = 0;\n    context.set(\"alarm_flag\", alarm_flag);\n    msg.topic = \"Gasmeter is online\"\n    msg.payload = \"Online event at \" + date;\n    return msg;\n}\n\nif (payload == \"offline\" && !alarm_flag)\n{\n    alarm_flag = true;\n    msg.alarm = 1;\n    context.set(\"alarm_flag\", alarm_flag);\n    msg.topic = \"Gasmeter is offline\"\n    msg.payload = \"Offline event at \" + date;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":400,"wires":[["96d979c770f47d43","c69fe6948283144d"]]},{"id":"6afada7d.a0881c","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"87530e4c5b462285","type":"digitaloak-postgresql-connection-manager","name":"localhost:5432/gasmeter","host":"localhost","port":"5432","database":"gasmeter","tls":"","use_tls":false,"pool_max_clients":"10","pool_client_max_idle":"10000","client_query_timeout":"","client_statement_timeout":"","client_connection_timeout_millis":"","is_client_enabled":"1"}]